* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerTop {
  height: 30px;
  background-color: #0282f9;
}

.links {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}

.links li,
.links li a  {
  color: white;
  list-style: none;
  padding: 0 10px;
  text-decoration: none;
  font-size: 13px;
  line-height: 30px;
  font-weight: bold;
}

.headerBottom {
  height: 115px;
  background-color: white;
  width: 75%;
  margin: auto;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 80px;
  height: 80px;
}

.logo img {
  width: 100%;
  cursor: pointer;
}

.navbar li {
  padding: 0 15px;
  font-weight: bold;
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
}

.navbar li a {
  color: #464646;
  text-decoration: none;
}

.navbar li a:hover {
  color: #0282f9;
}

.search {
  border-bottom: 2px solid #0282f9;
}

.search input {
  width: 110px;
  text-align: right;
  outline: none;
  border: none;
  font-weight: bold;
}

.jumboImg {
  height: 500px;
  background-image: url('/storage/assets/jumbotron.jpg');
  background-repeat: no-repeat;
}

.jumbo {
  height: auto;
  background-color: black;
}

.jumbocomics {
  width: 70%;
  margin: auto;
  padding-top: 100px;
}

.jumbocomics ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.jumbocomics ul li .box {
  width: 200px;
  height: 300px;
}

.jumbocomics ul li .box .boxImg {
  height: 200px;
  width: 200px;
  border: 1px solid white;
}

.jumbocomics ul li .box .boxImg img {
  object-position: top;
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.jumbocomics ul li .box .boxText h3 {
  color: white;
  padding-top: 15px;
  text-transform: uppercase;
}

footer {
  height: 500px;
  background-image: url('/storage/assets/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.footerTop {
  height: 450px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
}

.linkList {
  display: flex;
  justify-content: space-between;
}

.linkList .list li {
  font-size: 14px;
  color: #787878;
  list-style: none;
  padding: 5px;
}

.linkList .list h1 {
  color: white;
  font-size: 24px;
  text-transform: uppercase;
  padding-top: 15px;
}

.cookies p {
  color: #787878;
  font-size: 13px;
  padding-top: 10px;
}

.cookies a {
  text-decoration: none;
  color: #0282f9;
}

.imgLogo img {
  width: 450px;
}

.footerBottom {
  height: 100px;
  background-color: #303030;
}

.footerBottomContainer {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}

.buttonContainer button {
  background-color: transparent;
  border: 2px solid #0282f9;
  padding: 10px 7px;
}

.buttonContainer button a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.socialContainer {
  display: flex;
}

.socialContainer .title {
  display: flex;
  align-items: center;
}

.socialContainer .title h1 {
  text-transform: uppercase;
  color: #0282f9;
  font-size: 23px;
  padding-right: 20px;
}

.social a {
  text-decoration: none;
  padding: 0 5px;
}

// ELEM CSS



.boxImgElem {
  width: 194px;
  position: absolute;
  top: 425px;
  left: calc(100% - 81%);
  border: 1px solid white;
}

.descBook {
  color: white;
  text-transform: uppercase;
  background-color: #00a9d9;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
}

.viewGallery {
  width: 100%;
  color: white;
  text-transform: uppercase;
  background-color: #00a9d9;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.containerTopInfo {
  padding: 50px 0;
  width: 60%;
  margin: auto;

}

.blueLine {
  height: 100px;
  background-color: #0282f9;
}

.content {
  display: flex;
  flex-direction: row;
}

.left {
  width: 100%;
}

.left h2 {
  text-transform: uppercase;
  color: #003f5e;
  margin-bottom: 20px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #55ba59;
  border: 1px solid #49a04d;
  height: 50px;
}

.price span {
  margin-left: 20px;
}

.available {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.available p {
  padding: 0 10px;
  color: #bafd9c;
}

.check {
  border-left: 1px solid black;
}

.check p {
  color: white;
}

.description {
  padding-top: 30px;
}

.description p {
  line-height: 20px;
  font-size: 17px;
  color: #555555;
}

.right {
  margin-left: 25px;
}

.containerTopInfo .right h4 {
  text-transform: uppercase;
  text-align: right;
  color: #555555;
}

.right img {
  width: 300px;
  cursor: pointer;
}

.containerInfoBottom {
  background-color: #f6f6f6;
  border-top: 2px solid #e3e3e3;
  padding-top: 30px;
}

.containerInfoBottom .infoBottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.infoBottom {
  width: 60%;
  margin: auto;
}

.infoBottom .left {
  width: 45%;
}

.infoBottom .left h4 {
  font-size: 25px;
  color: #003f76;
  margin-bottom: 20px;
}

.subtitle {
  color: #326786;
  font-size: 16px;
}

.containerLink{
  flex-basis: 80%;
}

.containerLink a {
  text-decoration: none;
  font-size: 16px;
  color: #00b0e1;
}

.artBy {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.writtenBy {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #e3e3e3;
}

.infoBottom .right {
  width: 50%;
}

.infoBottom .right h4 {
  font-size: 25px;
  color: #003f76;
  margin-bottom: 20px;
}

.infoBottom .right p {
  width: 120px;
  display: inline-block;
}

.infoBottom .right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #0282f9;
  font-size: 14px;
}

.infoBottom .right .subtitle {
  padding: 10px 0;
}

.rightSeries,
.rightOnSaleDate {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.containerBoxInfoBottom {
  border-top: 1px solid #e3e3e3;
  margin-top: 120px;
}

.boxInfoBottom {
  width: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.boxOne,,.boxTwo,.boxThree,.boxFour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100%/4);
  padding: 20px;
}

.boxInfoBottom img {
  width: 50px;
}

.boxInfoBottom a {
  text-decoration: none;
  text-transform: uppercase;
  color: #a8aaac;
  font-size: 14px;
  font-weight: bold;
}

.boxOne,.boxFour {
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}

.boxTwo {
  border-right: 1px solid #e3e3e3;
}
